@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

body {
  margin: 0;
  background-color: rgba(202,144,30, 0.9);
  background: linear-gradient(163deg, rgba(202,144,30, 0.9) 35%, rgba(255,0,213,0.5) 100%);
  color: white;
  font-family: Nunito, Arial, "Helvetica Neue";
  h1,h2,h3,h4,p {
    font-family: Nunito, Arial, "Helvetica Neue";
  }
}