.Progressbar {
  width: 100%;
  .track {
    width: 100%;
    position: relative;
    height: 15px;
    .progressTrack {
      background: rgba(0, 0, 0, 0.3);
      overflow: hidden;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      .progressBar {
        background: rgba(255, 255, 255, 0.8);
        height: 100%;
        position: relative;
        margin: 0;
        padding: 0;
      }
    }
  }
}